@page "/"
@using ReenbitTest.Data

<PageTitle>Index</PageTitle>

<h1>Reenbit test webapp</h1>

<EditForm Model="@_user" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <p>
        <label>
            Enter Email:
            <InputText @bind-Value="_user.Email" required />
        </label>
        <ValidationMessage For="() => _user.Email"></ValidationMessage>
    </p>
    <p>
        <label>
            Select a .docx file:
            <InputFile @bind-Value="_user.File" accept=".docx" required />
        </label>
        <ValidationMessage For="() => _user.File"></ValidationMessage>
    </p>

    <button type="submit">Upload</button>
</EditForm>

@if (IsUploading)
{
    <p>Uploading file...</p>
}

@if (UploadComplete)
{
    <p>File uploaded successfully!</p>
}

@code {
    private User _user = new User();
    private bool IsUploading { get; set; }
    private bool UploadComplete { get; set; }

    private async Task HandleValidSubmit()
    {
        UploadComplete = true;
        
        
    }
}